<!DOCTYPE html>
<html>
<head>
    <title>Upload Receipt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload your Receipt</h1>
        <h2>Receipts will be uploaded</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="receipt">
            <input type="submit" value="Upload">
        </form>
    </div>

    <div> class="container">
        <h1>Receipt Information</h1>
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Receipt No</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>{{ amount }}</td>
                <td>{{ receipt_no }}</td>
                <td>{{ description }}</td>
            </tr>
        </table>




    </div>
</body>
</html>